*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  background: #0b0b0b;
  color: #fff;
}
sidebar {
  width: 240px;
  height: 100vh;
  background: #111;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.circle {
  width: 40px;
  height: 40px;
  background: #ff4d6d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.navbar input {
  width: 50%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  background: #1a1a1a;
  color: white;
}

.nav-icons {
  background: #1a1a1a;
  padding: 10px 20px;
  border-radius: 20px;
}

.profile {
  background: #1a1a1a;
  padding: 10px 20px;
  border-radius: 20px;
}

main {
  flex: 1;
  padding: 20px;
}